<h1>Editing Role</h1>

<%= render 'form' %>

<%= link_to @role do %>
  <i class="fa fa-window-maximize" aria-hidden="true"></i> Show
<% end %>
|
<%= link_to roles_path do %>
  <i class="fa fa-reply" aria-hidden="true"></i> Back
<% end %>

