<!-- Modal -->
<div class="modal fade" id="roles_welcome_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Permission Roles</h4>
      </div>
      <div class="modal-body">
        <p>
          You can create roles/permissions for users in this section of the application. These views are used to demonstrate AngularJS.<br><br>
          The create new roles page submits (POSTS) data using ajax. Data on other subsequent pages is fetched (GET) and displayed with ajax as well.<br><br>
          Create as many roles as you like, as you can only link them to an account if you have admin access. <span style="font-style: italic">See Readme on GitHub</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->