<!-- Modal -->
<div class="modal fade" id="welcome_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="cancelInitDemo();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Welcome</h4>
      </div>
      <div class="modal-body">
        <p>
        I decided I wanted to put together an app to demonstrate I have competency in multiple technologies and can pull off a full-stack project.
        Additionally, it is a means to exhibit normal objectives I feel are related to any project. (Authentication, Secure Password Storage, data fetches(GET/POST), custom APIs etc.)
        <br><br>
        I also wrote an iPhone version in Swift(Xcode). All of the code is on GitHub.
        See the repository README for more information about running this app yourself locally.
        You can stop this tour anytime by closing the modal. Otherwise, enjoy the site.
        <br><br>
        GitHub ROR app: <a href="https://github.com/brianhodges/basic_app" target="_blank">https://github.com/brianhodges/basic_app</a><br>
        GitHub Swift app: <a href="https://github.com/brianhodges/basic_app_ios" target="_blank">https://github.com/brianhodges/basic_app_ios</a><br>
        <a href="https://github.com/brianhodges/" target="_blank">My GitHub Profile <i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        </p>
        
        <p style="font-style: italic;">
          <strong>Application Runs On:</strong><br>
          Rails 4.2.1<br>
          Ruby 2.2.1<br>
          jQuery 1.12.4<br>
          AngularJS 1.6.1<br>
          Bootstrap 3.3.7<br>
          PostgreSQL 9.2.1<br>
          Font Awesome 4.7.0<br>
          HTML/CSS
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="startSignUpDemo();" data-dismiss="modal">Next</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->